<h1>Chat</h1>

<hr>

{{>menu}}
<a href="/">Volver</a>

<input type="text" id="mensaje" placeholder="Escribe tu mensaje..."><br><br>
<div id="mensajes"></div>


<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>