h1 {
    color:rgb(224, 93, 93);
    
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
}


body {
    background-color: whitesmoke;
}






 ul li{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, textarea {
    gap:15px;
    padding: 25px;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:10px;
    
}

button {
    padding: 10px;
    
    border-radius: 10px;
    gap:10px;
    margin:5px;


    &:hover {
        background-color: burlywood;
        color:black;
    }
}

.botones-product {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    color:rgb(224, 93, 93);

    &:hover {
        color:black;
    }
}


#mensajes {
    background-color: antiquewhite;
    

}


.mensaje {
    background-color: burlywood;
    border-radius: 30px;
    padding: 10px;
    display: inline-block;
    gap:10px;
    margin:10px;

}