<a href="/realtimeproducts">Agregar/borrar productos</a>
<a href="/registro">Registro</a>
<a href="/chat">Chat</a>
<a href="/carts">Carrito</a>
<a href="/">Home</a>
<a href="/login">Login</a>
<a href="/perfil">Perfil</a>
<a href="/api/sessions/logout">Logout</a>